
# eval stemmers in Lucene 5.3.1

#stemmerName=hunspell
#stemmerName=hu_light
# stemmers to test
#stemmerName=en_minimal
# full
stemmerName=humor,en_porter,en_kstem
#stemmerName=hunspell,en_snowball,en_porter,en_possessive,en_minimal,en_kstem,nostem

limit=300

includeOriginalTerm=1

hunspellPath=/home/pisti/projects/stemmers/hunspell/dicts/en_US
#hunspellPath=C:/data/projects/hunspell/dicts/hu_HU

humorPath=/home/pisti/humor/bin/
#humorPath=C:/data/codeMmo/stem2005Wrap/jar/csomag/lex
humorLanguageCode=2057

index=1

catalog.names=ACPROSE,CONVRSN,FICTION,NEWS,NONAC,OTHERPUB,OTHERSP,UNPUB

catalog.ACPROSE.docPath=corpus/en/sents/ACPROSE
catalog.ACPROSE.indexPath=index/en/ACPROSE
catalog.ACPROSE.goldPath=corpus/en/sents/ACPROSEGoldSents.txt

catalog.CONVRSN.docPath=corpus/en/sents/CONVRSN
catalog.CONVRSN.indexPath=index/en/CONVRSN
catalog.CONVRSN.goldPath=corpus/en/sents/CONVRSNGoldSents.txt

catalog.FICTION.docPath=corpus/en/sents/FICTION
catalog.FICTION.indexPath=index/en/FICTION
catalog.FICTION.goldPath=corpus/en/sents/FICTIONGoldSents.txt

catalog.NEWS.docPath=corpus/en/sents/NEWS
catalog.NEWS.indexPath=index/en/NEWS
catalog.NEWS.goldPath=corpus/en/sents/NEWSGoldSents.txt

catalog.NONAC.docPath=corpus/en/sents/NONAC
catalog.NONAC.indexPath=index/en/NONAC
catalog.NONAC.goldPath=corpus/en/sents/NONACGoldSents.txt

catalog.OTHERPUB.docPath=corpus/en/sents/OTHERPUB
catalog.OTHERPUB.indexPath=index/en/OTHERPUB
catalog.OTHERPUB.goldPath=corpus/en/sents/OTHERPUBGoldSents.txt

catalog.OTHERSP.docPath=corpus/en/sents/OTHERSP
catalog.OTHERSP.indexPath=index/en/OTHERSP
catalog.OTHERSP.goldPath=corpus/en/sents/OTHERSPGoldSents.txt

catalog.UNPUB.docPath=corpus/en/sents/UNPUB
catalog.UNPUB.indexPath=index/en/UNPUB
catalog.UNPUB.goldPath=corpus/en/sents/UNPUBGoldSents.txt




