
# eval stemmers in Lucene 5.3.1

# path of text files
#docsPath=szegedCorpus

# path of index
#indexPath=index

#stemmerName=hunspell
#stemmerName=hu_light
# stemmers to test
stemmerName=nostem,pl_morfologik,pl_stempel,humor,hunspell

limit=200

includeOriginalTerm=0

# dict of lexicon path of the stemmer (if necessary)
# hunspell

hunspellPath=/home/myuser/projects/stemmers/hunspell/dicts/pl_PL

humorPath=/home/myuser/humor/bin/
humorLanguageCode=1045

index=1

catalog.names=typ_fakt,typ_nd,typ_infpor,typ_net_interakt,typ_konwers,typ_net_nieinterakt,typ_listy,typ_nklas,typ_lit,typ_publ,typ_lit_poezja,typ_qmow,typ_media,typ_urzed

catalog.typ_fakt.docPath=../corpus/goldIR/pl/sents/typ_fakt
catalog.typ_fakt.indexPath=index/pl/typ_fakt
catalog.typ_fakt.goldPath=../corpus/goldIR/pl/sents/typ_faktGoldSents.txt

catalog.typ_nd.docPath=../corpus/goldIR/pl/sents/typ_nd
catalog.typ_nd.indexPath=index/pl/typ_nd
catalog.typ_nd.goldPath=../corpus/goldIR/pl/sents/typ_ndGoldSents.txt

catalog.typ_infpor.docPath=../corpus/goldIR/pl/sents/typ_inf-por
catalog.typ_infpor.indexPath=index/pl/typ_inf-por
catalog.typ_infpor.goldPath=../corpus/goldIR/pl/sents/typ_inf-porGoldSents.txt

catalog.typ_net_interakt.docPath=../corpus/goldIR/pl/sents/typ_net_interakt
catalog.typ_net_interakt.indexPath=index/pl/typ_net_interakt
catalog.typ_net_interakt.goldPath=../corpus/goldIR/pl/sents/typ_net_interaktGoldSents.txt

catalog.typ_konwers.docPath=../corpus/goldIR/pl/sents/typ_konwers
catalog.typ_konwers.indexPath=index/pl/typ_konwers
catalog.typ_konwers.goldPath=../corpus/goldIR/pl/sents/typ_konwersGoldSents.txt

catalog.typ_net_nieinterakt.docPath=../corpus/goldIR/pl/sents/typ_net_nieinterakt
catalog.typ_net_nieinterakt.indexPath=index/pl/typ_net_nieinterakt
catalog.typ_net_nieinterakt.goldPath=../corpus/goldIR/pl/sents/typ_net_nieinteraktGoldSents.txt

catalog.typ_listy.docPath=../corpus/goldIR/pl/sents/typ_listy
catalog.typ_listy.indexPath=index/pl/typ_listy
catalog.typ_listy.goldPath=../corpus/goldIR/pl/sents/typ_listyGoldSents.txt

catalog.typ_nklas.docPath=../corpus/goldIR/pl/sents/typ_nklas
catalog.typ_nklas.indexPath=index/pl/typ_nklas
catalog.typ_nklas.goldPath=../corpus/goldIR/pl/sents/typ_nklasGoldSents.txt

catalog.typ_lit.docPath=../corpus/goldIR/pl/sents/typ_lit
catalog.typ_lit.indexPath=index/pl/typ_lit
catalog.typ_lit.goldPath=../corpus/goldIR/pl/sents/typ_litGoldSents.txt

catalog.typ_publ.docPath=../corpus/goldIR/pl/sents/typ_publ
catalog.typ_publ.indexPath=index/pl/typ_publ
catalog.typ_publ.goldPath=../corpus/goldIR/pl/sents/typ_publGoldSents.txt

catalog.typ_lit_poezja.docPath=../corpus/goldIR/pl/sents/typ_lit_poezja
catalog.typ_lit_poezja.indexPath=index/pl/typ_lit_poezja
catalog.typ_lit_poezja.goldPath=../corpus/goldIR/pl/sents/typ_lit_poezjaGoldSents.txt

catalog.typ_qmow.docPath=../corpus/goldIR/pl/sents/typ_qmow
catalog.typ_qmow.indexPath=index/pl/typ_qmow
catalog.typ_qmow.goldPath=../corpus/goldIR/pl/sents/typ_qmowGoldSents.txt

catalog.typ_media.docPath=../corpus/goldIR/pl/sents/typ_media
catalog.typ_media.indexPath=index/pl/typ_media
catalog.typ_media.goldPath=../corpus/goldIR/pl/sents/typ_mediaGoldSents.txt

catalog.typ_urzed.docPath=../corpus/goldIR/pl/sents/typ_urzed
catalog.typ_urzed.indexPath=index/pl/typ_urzed
catalog.typ_urzed.goldPath=../corpus/goldIR/pl/sents/typ_urzedGoldSents.txt

