
# eval stemmers in Lucene 5.3.1

# stemmers to test (1 or more stemmers, delimited by comma)
# min
stemmerName=humor,en_porter,en_kstem
# full
#stemmerName=hunspell,en_snowball,en_porter,en_possessive,en_minimal,en_kstem,humor,nostem

limit=300

includeOriginalTerm=1

hunspellPath=/home/myuser/projects/stemmers/hunspell/dicts/en_US
#hunspellPath=C:/data/projects/hunspell/dicts/hu_HU

humorPath=/home/myuser/humor/bin/
humorLanguageCode=2057

index=1

catalog.names=ACPROSE,CONVRSN,FICTION,NEWS,NONAC,OTHERPUB,OTHERSP,UNPUB

catalog.ACPROSE.docPath=../corpus/goldIR/en/sents/ACPROSE
catalog.ACPROSE.indexPath=index/en/ACPROSE
catalog.ACPROSE.goldPath=../corpus/goldIR/en/sents/ACPROSEGoldSents.txt

catalog.CONVRSN.docPath=../corpus/goldIR/en/sents/CONVRSN
catalog.CONVRSN.indexPath=index/en/CONVRSN
catalog.CONVRSN.goldPath=../corpus/goldIR/en/sents/CONVRSNGoldSents.txt

catalog.FICTION.docPath=../corpus/goldIR/en/sents/FICTION
catalog.FICTION.indexPath=index/en/FICTION
catalog.FICTION.goldPath=../corpus/goldIR/en/sents/FICTIONGoldSents.txt

catalog.NEWS.docPath=../corpus/goldIR/en/sents/NEWS
catalog.NEWS.indexPath=index/en/NEWS
catalog.NEWS.goldPath=../corpus/goldIR/en/sents/NEWSGoldSents.txt

catalog.NONAC.docPath=../corpus/goldIR/en/sents/NONAC
catalog.NONAC.indexPath=index/en/NONAC
catalog.NONAC.goldPath=../corpus/goldIR/en/sents/NONACGoldSents.txt

catalog.OTHERPUB.docPath=../corpus/goldIR/en/sents/OTHERPUB
catalog.OTHERPUB.indexPath=index/en/OTHERPUB
catalog.OTHERPUB.goldPath=../corpus/goldIR/en/sents/OTHERPUBGoldSents.txt

catalog.OTHERSP.docPath=../corpus/goldIR/en/sents/OTHERSP
catalog.OTHERSP.indexPath=index/en/OTHERSP
catalog.OTHERSP.goldPath=../corpus/goldIR/en/sents/OTHERSPGoldSents.txt

catalog.UNPUB.docPath=../corpus/goldIR/en/sents/UNPUB
catalog.UNPUB.indexPath=index/en/UNPUB
catalog.UNPUB.goldPath=../corpus/goldIR/en/sents/UNPUBGoldSents.txt




