
# eval stemmers in Lucene 5.3.1

# path of text files
#docsPath=szegedCorpus

# path of index
#indexPath=index

#stemmerName=hunspell
#stemmerName=hu_light
# stemmers to test
stemmerName=ocastem
#humor
#ocastem
#hunspell,hu_snowball,hu_light,nostem
#stemmerName=nostem

limit=200

includeOriginalTerm=0

# dict of lexicon path of the stemmer (if necessary)
# hunspell
#dictPath=/home/pisti/projects/stemmers/hunspell/dicts/hu_HU
#dictPath=C:/data/projects/hunspell/dicts/hu_HU
#dictPath=/home/pisti/humor/bin/

hunspellPath=/home/pisti/projects/stemmers/hunspell/dicts/hu_HU
#hunspellPath=C:/data/projects/hunspell/dicts/hu_HU

humorPath=/home/pisti/humor/bin/
#humorPath=C:/data/codeMmo/stem2005Wrap/jar/csomag/lex
humorLanguageCode=1038

ocastemProgPath=/home/pisti/projects/stemmers/ocastem/ocamorph-1.1-linux/ocastem
ocastemBinPath=/home/pisti/projects/stemmers/ocastem/morphdb_hu.20070606.bin

index=1

catalog.names=newsp,comp,law,it,fict,busin

catalog.newsp.docPath=corpus/hu/sents/newsp
catalog.newsp.indexPath=index/hu/newsp
catalog.newsp.goldPath=corpus/hu/sents/newspGoldSents.txt

catalog.comp.docPath=corpus/hu/sents/comp
catalog.comp.indexPath=index/hu/comp
catalog.comp.goldPath=corpus/hu/sents/compGoldSents.txt

catalog.law.docPath=corpus/hu/sents/law
catalog.law.indexPath=index/hu/law
catalog.law.goldPath=corpus/hu/sents/lawGoldSents.txt 

catalog.it.docPath=corpus/hu/sents/it
catalog.it.indexPath=index/hu/it
catalog.it.goldPath=corpus/hu/sents/itGoldSents.txt 

catalog.busin.docPath=corpus/hu/sents/busin
catalog.busin.indexPath=index/hu/busin
catalog.busin.goldPath=corpus/hu/sents/businGoldSents.txt 

catalog.fict.docPath=corpus/hu/sents/fict
catalog.fict.indexPath=index/hu/fict
catalog.fict.goldPath=corpus/hu/sents/fictGoldSents.txt 

